<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.shianikha">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".activities.RefineSearchItemActivity"
            android:screenOrientation="portrait"/>

        <activity android:name=".activities.FilterActivity"
            android:screenOrientation="portrait"/>

        <activity android:name=".activities.HomeActivity"
            android:screenOrientation="portrait"/>

        <activity android:name=".activities.OTPVerificationActivity"
            android:screenOrientation="portrait"
            android:theme="@style/CustomTheme"/>

        <activity android:name=".activities.RegSixthPageActivity"
            android:screenOrientation="portrait"/>

        <activity android:name=".activities.RegFifthPageActivity"
            android:screenOrientation="portrait"
            android:theme="@style/CustomTheme"/>

        <activity android:name=".activities.RegFourthPageActivity"
            android:screenOrientation="portrait"
            android:theme="@style/CustomTheme"/>

        <activity android:name=".activities.RegThirdPageActivity"
            android:screenOrientation="portrait"
            android:theme="@style/CustomTheme"/>

        <activity android:name=".activities.RegSecondPageActivity"
            android:screenOrientation="portrait"
            android:theme="@style/CustomTheme"/>

        <activity android:name=".activities.RegistrationActivity"
            android:screenOrientation="portrait"
            android:theme="@style/CustomTheme"/>

        <activity android:name=".activities.WalkThroughActivity"
            android:screenOrientation="portrait"/>

        <activity android:name=".activities.LoginActivity"
            android:screenOrientation="portrait"/>

        <activity android:name=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>